pre, code {
    color: black;
    font-family: 'Lucida Console', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    line-height: 2;
    direction: ltr;
    
    white-space: pre;
    text-align: left;
    word-wrap: normal;
    word-break: normal;
    word-spacing: normal;
    tab-size: 4;
    hyphens: none;
    background: #f8f8f8 !important;
    font-size: 12px !important;
}